/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// custom header imports.
#include "headers/keymap_aliases.h"

/ {
        behaviors {
					qmt: qmt_node {
						compatible = "zmk,behavior-hold-tap";
						flavor = "hold-preferred";
						tapping-term-ms = <200>;
						quick-tap-ms = <200>;
						#binding-cells = <2>;
						bindings = <&kp>, <&kp>;
					};

					qlt: qlt_node {
						compatible = "zmk,behavior-hold-tap";
						flavor = "tap-preferred";
						tapping-term-ms = <200>;
						quick-tap-ms = <200>;
						#binding-cells = <2>;
						bindings = <&mo>, <&kp>;
					};
				};

        keymap {
                compatible = "zmk,keymap";

                alpha_layer {
// ╭──────┬─────┬─────┬─────┬─────┬─────╮                  ╭─────┬─────┬─────┬─────┬─────┬──────╮
// | TAB  |  Q  |  W  |  E  |  R  |  T  |                  |  Y  |  U  |  I  |  O  |  P  |      |
// | SHFT |  A  |  S  |  D  |  F  |  G  |                  |  H  |  J  |  K  |  L  |  ;  | SHFT |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |                  |  N  |  M  |  ,  |  .  |  /  | CTRL |
// ╰──────┴─────┴─────┴─────┴─────┴─────╯───────╮  ╭───────╰─────┴─────┴─────┴─────┴─────┴──────╯
//                      |  ALT  | BKSPC |  ESC  |  | ENTER | SPACE |  DEL  |
//                      ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
//      TAB:  (hold)=FUNCTION layer
// (L) CTRL: (press)=CAPSLOCK.
//     BSPC:  (hold)=SYMBOL layer.
//      ESC:  (hold)=NUMBER layer.
//    ENTER:  (hold)=NAVIGATION layer.
//      DEL:  (hold)=Command/WIN key.

                        display-name = "Alphabets Layer";
                        bindings = <
    oTABo   _Q_   _W_   _E_   _R_   _T_                      _Y_   _U_   _I_   _O_    _P_     _x_
   _LSHFT_  _A_   _S_   _D_   _F_   _G_                      _H_   _J_   _K_   _L_   _SMI_  _RSHFT_
   oLCTRLo  _Z_   _X_   _C_   _V_   _B_                      _N_   _M_  _CMM_ _DOT_  _FSL_  _RCTRL_
                         _LALT_  oBSPCo  oESCo       oRETo  _SPC_  oDELo
                        >;
                };

                numeric_layer {
// ╭──────┬─────┬─────┬─────┬─────┬─────╮                  ╭─────┬─────┬─────┬─────┬─────┬──────╮
// |BT_LYR|     |  /  |  *  |  +  |  -  |                  |  .  |  7  |  8  |  9  |  *  |  /   |
// |      |     |     |     |SHIFT|BKSPC|                  |  0  |  4  |  5  |  6  |  +  |ENTER |
// |NUMLCK|     |     |  .  |ENTER|     |                  |     |  1  |  2  |  3  |  -  |BKSPC |
// ╰──────┴─────┴─────┴─────┴─────┴─────╯───────╮  ╭───────╰─────┴─────┴─────┴─────┴─────┴──────╯
//                      |       |       |       |  |  CTRL |  ALT  |  CMD  |
//                      ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯

                        display-name = "Numeric Layer";
                        bindings = <
   BT_LYR   _x_  _FSL_ _AST_ _PLS_   _MNS_                 _DOT_  _7_   _8_   _9_   _AST_  _FSL_
     _x_    _x_   _x_   _x_ _LSHFT_  BKSPC                  _0_   _4_   _5_   _6_   _PLS_  _RET_
   NUMLK    _x_   _x_  _DOT_ _RET_    _x_                   _x_   _1_   _2_   _3_   _MNS_  BKSPC
                          _x_     _x_     _x_       _RCTRL_  _RALT_  _RCMD_
                        >;
                };

                symbol_layer {
                        display-name = "Symbols Layer";
// ╭──────┬─────┬─────┬─────┬─────┬─────╮                  ╭─────┬─────┬─────┬─────┬─────┬──────╮
// |  ~   |  !  |  @  |  #  |  $  |  %  |                  |  &  |  *  |  (  |  )  |  ^  |      |
// |      |     |     |     |SHIFT|BKSPC|                  |  '  |  =  |  {  |  }  |  -  |ENTER |
// |      |     |     |  .  |ENTER|     |                  |  \  |  /  |  ~  |  ,  |  .  |BKSPC |
// ╰──────┴─────┴─────┴─────┴─────┴─────╯───────╮  ╭───────╰─────┴─────┴─────┴─────┴─────┴──────╯
//                      |       |       |       |  |  CTRL |  ALT  |  CMD  |
//                      ╰───────┴───────┴───────╯  ╰───────┴───────┴───────╯
                        bindings = <
    _GRV_  _XCL_  _AT_ _HSH_ _DLR_  _MNS_                   _AMP_ _AST_ _LPR_ _RPR_ _CRT_   _x_
     _x_    _x_   _x_   _x_ _LSHFT_ BKSPC                   _SQT_ _EQU_ _LBK_ _RBK_ _MNS_  _RET_
     _x_    _x_   _x_  _DOT_ _RET_  _x_                     _BSL_ _FSL_ _GRV_ _CMM_ _DOT_ BKSPC
                           _x_     _x_     _x_      _RCTRL_  _RALT_  _RCMD_
                        >;
                };
        };
};
